.catalog {
  @include mobile-grid;
}

.catalog__heading {
  margin-top: 39px;
  margin-bottom: 0;

  @include text-roboto;

  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.catalog__list {
  @include ul-style;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 26px;
}

.catalog__link {
  padding-left: 10px;

  letter-spacing: 1px;
  text-align: center;

  @include sky-btn;
}

.catalog__arrow {
  margin-bottom: 1px;
  margin-left: 10px;

  fill: $white;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .catalog {
    width: 750px;
  }

  .catalog__heading {
    margin-top: 53px;

    font-size: 26px;
    line-height: 40px;
  }
}
