.footer {
  @include mobile-grid;

  margin-top: 31px;
  padding-top: 23px;
  padding-bottom: 32px;

  text-align: center;

  background-color: $white;
}

.footer__nav {
  display: none;
}

.footer__info {
  margin-top: 14px;
}

.footer__tel,
.footer__time,
.footer__copyright {
  margin: 0;
}

.footer__tel {
  font-weight: 700;
}

.footer__time {
  font-size: 10px;
  line-height: 18px;
}

.footer__copyright {
  line-height: 30px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .footer {
    width: 100%;
    min-height: 129px;
    margin-top: 62px;

    text-align: left;
  }

  .footer__box {
    display: flex;

    width: 720px;
    margin: 0 auto;
  }

  .footer__nav {
    display: block;
  }

  .footer__nav-list {
    @include ul-style;
  }

  .footer__nav-link {
    color: inherit;

    @include link;
  }

  .footer__social {
    margin-left: 75px;
  }

  .footer__info {
    margin-top: 0;
    margin-left: auto;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .footer {
    min-height: 130px;
  }

  .footer__box {
    width: 1140px;
  }

  .footer__social {
    margin-left: 149px;
  }
}
