.header {
  @include mobile-grid;
}

.header__control-panel {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .header {
    width: 750px;
  }

  .header__control-panel {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 22px;
    padding-right: 15px;
  }

  .header__tel,
  .header__time {
    margin: 0;
  }

  .header__tel {
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1.2px;
  }

  .header__time {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .header {
    width: 1170px;
  }
}
