.nav__box {
  position: relative;
  z-index: 2;

  padding-top: 26px;

  background-color: transparent;
}

.nav__logo {
  position: relative;
  z-index: 2;

  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.nav__toggle {
  position: absolute;
  top: 0;

  display: block;
  width: 52px;
  height: 58px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:active {
    background-color: $dark-blue;
  }
}

.nav--closed .nav__toggle {
  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 15px;

    width: 22px;
    height: 2px;

    background-color: $dark-blue;
    box-shadow: 0 7px 0 0 $dark-blue, 0 14px 0 0 $dark-blue;
  }

  &:hover::before {
    background-color: $white;
    box-shadow: 0 7px 0 0 $white, 0 14px 0 0 $white;
  }

  &:active::before {
    background-color: $white-active;
    box-shadow: 0 7px 0 0 $white-active, 0 14px 0 0 $white-active;
  }
}

.nav--opened .nav__toggle {
  background-color: $dark-blue;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 34px;
    left: 12px;

    width: 29.11px;
    height: 2px;

    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $white-active;
  }
}

.nav--opened .nav__toggle--close {
  top: -372px;

  display: block;
}

.nav--closed .nav__list {
  background-color: transparent;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< js-menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 320px) {
  .nav--closed .menu__item {
    display: none;
  }

  /* <<<<< js-menu /mobile/ (nojs) >>>>> */

  .nav--nojs .menu__item {
    display: block;

    &:first-of-type {
      padding-top: 0;
    }

    &:first-of-type .menu__link {
      padding-top: 26px;
    }
  }

  .nav--nojs .nav__toggle {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .nav {
    position: absolute;
    z-index: 5;

    width: 420px;
    margin-top: 43px;
  }

  .nav__box {
    position: absolute;

    margin-top: -58px;
  }

  .nav__logo {
    margin-top: 78px;
    margin-left: 340px;
  }

  .nav--opened .nav__toggle {
    background-color: transparent;

    &:hover,
    &::before,
    &::after {
      background-color: $dark-blue;
    }

    &:hover::before,
    &:hover::after {
      background-color: $white;
    }
  }

  .nav--opened .nav__toggle--close {
    top: -409px;
  }

  /* <<<<< js-menu /tablet/ (nojs) >>>>> */

  .nav--nojs .menu {
    display: flex;
    flex-wrap: wrap;

    width: 750px;
    margin: 0;
  }

  .nav--nojs .menu__item {
    display: block;

    &:first-of-type .menu__link,
    &:last-of-type .menu__link {
      padding: 0 18px;
    }
  }

  .nav--nojs .menu__link {
    padding: 0 18px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $desktop-width) {
  .nav__logo {
    width: 88px;
    height: 88px;
    margin-top: 20px;
    margin-left: 538px;
  }
}
