.nav {
  @include mobile-grid;
}

.nav__toggle {
  position: absolute;
  top: 0;
  z-index: 2;

  display: block;
  width: 52px;
  height: 58px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:active {
    background-color: $dark-blue;
  }
}

.nav--closed .nav__toggle {
  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 15px;

    width: 22px;
    height: 2px;

    background-color: $dark-blue;
    box-shadow: 0 7px 0 0 $dark-blue, 0 14px 0 0 $dark-blue;
  }

  &:hover::before {
    background-color: $white;
    box-shadow: 0 7px 0 0 $white, 0 14px 0 0 $white;
  }

  &:active::before {
    background-color: $white-active;
    box-shadow: 0 7px 0 0 $white-active, 0 14px 0 0 $white-active;
  }
}

.nav--opened .nav__toggle {
  background-color: $dark-blue;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 34px;
    left: 12px;

    width: 29.11px;
    height: 2px;

    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $white-active;
  }
}

.nav--closed .nav__list {
  background-color: transparent;
}

.nav__logo {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-top: 26px;
}
