.sorting {
  text-align: center;
}

.sorting__legend {
  letter-spacing: 0.5px;
}

.sorting__select {
  padding-right: 16px;

  @include text-raleway;

  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 20px;

  @include form-select;

  background-position: right 9px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: $tablet-width) {
  .sorting {
    line-height: 20px;
  }

  .sorting__legend {
    letter-spacing: 0.5px;
  }
}
