$white: rgb(255, 255, 255);
$white-active: rgba(255, 255, 255, 0.5);

$dark-blue: rgb(13, 51, 81);

$sky: rgb(51, 199, 253);
$sky-hover: rgb(51, 176, 233);
$sky-press: rgb(100, 214, 255);
$sky-card: rgb(0, 162, 221);

$tablet-width: 750px;
